

#container-card {
    display: flex;
    gap: 15px;
}

#pile {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}

.card {
    position: relative;
    border: 7px solid rgb(255, 255, 255);
    border-radius: 15px;
    height: 140px;
    width: 80px;
    padding: 2em;

    /* background-color: #FF0066; */

    svg {
        position: absolute;
        top: 15px;
        left: -15px;
        object-fit: center;
        width: 180px;
        z-index: 1;
    }

    p {
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        z-index: 2;
        font-weight: 900;
        font-size: 6rem;
        font-family: "Londrina Shadow"
        /* font-family: "Moo Lah Lah"; */
        /* font-family: "Rubik Bubbles" */
    }
}

.card:hover {
    position: relative;
    top: -20px;
    cursor: pointer;
}